# Core dependencies
langchain
langchain-openai
langgraph
python-dotenv
openai
pydantic_v1
pydantic

# Interactive tools dependencies
numpy
matplotlib
pandas
sympy
scipy

# Web app dependencies
flask

# Agent tools
langchain-community
langchain-experimental